.el-container {
  height: 90vh;
}
.el-list-container {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-top: 5%;
  justify-content: center;
  flex-wrap: wrap;
  overflow: scroll;
  height: 70vh;
}
.el-search {
  display: flex;
  flex-direction: column;
}
.el-left {
  display: flex;
  height: 100px;
  width: 500px;
}
